.main-container {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background: #ededed;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 500;
}

.button {
  background: none;
  border: 1px solid #474444cc;
  color: #000;
  padding: 1px 16px 8px 16px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* .button:hover{
    background: #000;
    color: #fff;
    >.cart-icon{
        fill: #fff;
    }
  } */
.cart-icon {
  fill: black;
  width: 21px;
  height: 19px;
  position: relative;
  top: 5px;
}

.banner {
  background: black;
  color: #fff;
  height: 17rem;
  text-align: center;
}

.headings {
  position: relative;
  top: 5rem;
}

.main-heading {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.sub-heading {
  font-size: 1.3rem;
  line-height: 30px;
  color: #ccc;
}

.product-details {
  width: 300px;
  border: 1px solid #ccc;
}

.productimg img {
  width: 100%;
}

.product-discreption {
  text-align: center;
  padding: 20px;
}

.product-name {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 9px;
}

.product-price span {
  font-size: 14px;
}

.addcart {
  margin-top: 3rem;
}

.addcart button {
  padding: 6px 25px;
  font-size: 13px;
}
.product-list{
  margin: 7rem 14rem;
}